h1{
    font-family: sans-serif;
    text-transform: uppercase;
}
#main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#main-container > #red-box{
    height: 200px;
    width: 1200px;
    background-color: #DA291C;
}
#main-container > #inner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 1200px;
    background-color: #F8E600;
}
#main-container > #green-box{
    height: 200px;
    width: 1200px;
    background-color: #007A33;
}